<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="angel.reynaldo.titulacion" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/titulo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".alumnos"
            android:label="@string/title_activity_alumnos" >
        </activity>

        <activity
            android:name=".acer"
            android:label="@string/Acercade" >
            <intent-filter>
                <action android:name="angel.reynaldo.titulacion.acer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".VistaRegistro"
            android:label="@string/title_activity_vista_registro" >
        </activity>
    </application>

</manifest>
